body  {
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right,#E4E5E6, #83C4D7,#3156FF, #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right,#E4E5E6, #83C4D7, #3156FF,#00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.remove-btn {
    margin-right: 0.5rem;
  }
  
  .fade-enter {
    opacity: 0.01;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
  }
  
  .fade-exit {
    opacity: 1;
  }
  
  .fade-exit-active {
    opacity: 0.01;
    transition: opacity 1000ms ease-in;
  }